<html>
<head>
    <title>Student Database</title>
    <style>
        
    </style>
</head>
<body>
    <p><b>Name:</b><%= @std.name %></p>
    <p><b>Weight:</b><%= @std.weight %></p>
    <p><b>Height:</b><%= @std.height %></p>
    <p><b>Color:</b><%= @std.color %></p>
    <p><b>GPA:</b><%= @std.gpa %></p>
    <p><b>E-mail:</b><%= @std.email %></p>
</body>
</html>